$green: #d7fdcc;
$green_rgba: rgba(56,243,0,.2);
$black : #11434A;
$root_path: '/wp-content/themes/pilot/dest/';

@font-face{
    font-family:"helvetica";
    src:url( $root_path 'fonts/Helvetica Neue LT 65 Medium.woff' );
}

// Block Level Elements (for uniform margin)
// See: https://developer.mozilla.org/en-US/docs/HTML/Block-level_elements
body{
    background-color:#0D3E14;
}
address,figcaption,ol,article,figure,output,aside,
p,audio,form,pre,h1,h2,h3,h4,h5,h6,canvas,table,
dd,hgroup,tfoot,hr,ul,dl,video,fieldset,noscript {
    margin: 0 0 $element-spacing 0;
}
// Generally used as containers
section, header, footer, blockquote {
    margin: 0;
}
html,body{
    font-family:'helvetica';
    font-size:14px;
    margin:0;
    position:relative;
}
#airport_map {
  height: 100vh;
}
.wonderful-nav{
    font-size:1.286rem;
    padding:1.286rem;
    color:white;
    background-color: unset;
    position:fixed;
    top:0;
    left:0;
    z-index:9999999999;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:9999;
    opacity:1;
    color:white;
    .center-content,.loading-message{
        text-align:center;
        width:100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .landing-content{
            margin:0 auto;
            display:inline-block;
            max-width:620px;
            color:$green;
            h1{
                color:$green;
            }
        }
        .landing-content,.gform_wrapper{
            margin:0 auto;
            max-width:620px;
            color:$green;
            h1{
                color:$green;
            }
        }
    }
    &.single-overlay{
        //display:none;
    }
    .loading-message{
        display:none;
        .img-container{
            height:50px;
            overflow:hidden;
            img{
                height:100%;
                width:100%;
            }
        }
        h2{
            font-size:2rem;
            color:$green;
        }
        .trivia{
            font-style:italic;
            max-width:40%;
            margin:0 auto;
            display:inline-block;
            color:$green;
            margin-top:2rem;
            font-size:1.2rem;
            line-height:1.5rem;
        }
    }
}
.map-loaded{
    .overlay {  
       background-color:$green_rgba;
    }
}
#gform_submit_button_1{
    visibility:hidden;
}
.active-map{
    .overlay{
        background-color:unset;
        height:0;
        top:unset;
        .landing-content{
            display:none;
        }
    }
}
.gm-style{
    .gm-style-iw, .gm-style-iw-c{
        button.gm-ui-hover-effect{
            margin:.5rem;
        }
        .wonderful-info-window{
            padding-right:1rem;
            padding-left:1rem;
            text-align:left;
            .airport-name{

                font-weight:700;
                font-size:1.214rem;
                margin-bottom:.5rem;
            }
            .lat-long{
                font-size:1rem;
            }
        }
    }   
}
.gform_body.gform-body{
    .gform_fileupload_multifile{
        .gform_drop_instructions{
            float:right;
            text-align:left;
            width:calc(100% - 150px);
            padding:1rem 1rem 1rem 0;
            color:$green;
        }
        #gform_drag_drop_area_1_1{
            border:unset !important;
            background: rgba(0,0,0,.2);
        }
        .gform_drop_area{
            text-align:left;
        }
    }
}
.gform_body,.gform-body{
    .gform_fileupload_rules{
        display:none;
    }
    .gform_button_select_files{
        border-radius:4px;
        padding:1rem;
        display: inline-block;
        border: none;
        margin: 0;
        text-decoration: none;
        cursor: pointer;
        position:relative;
        text-align: center;
        background: $green;
        transition: background 250ms ease-in-out, 
                    transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:hover,
        &:focus {
            opacity:.75;
        }
        &:active {
            transform: scale(0.99);
        }

    }
}
#gform_confirmation_wrapper_1{
    margin-top:-100px;
    .wonderful-confirmation{
        display:inline-block;
        h2{
            display:inline-block;
            font-size:1rem;
            font-weight:bold;
        }
        .copy-button{
            border-radius:4px;
            padding:1rem 4rem 1rem 2rem;
            display: inline-block;
            border: none;
            margin: 0;
            text-decoration: none;
            cursor: pointer;
            position:relative;
            text-align: left;
            transition: background 250ms ease-in-out, 
                        transform 150ms ease;
            -webkit-appearance: none;
            -moz-appearance: none;

            &:hover,
            &:focus {
                opacity:.75;
            }
            &:active {
                transform: scale(0.99);
            }
            &.copied{
                &:after{
                    position:absolute;
                    width: calc( 100% - 1rem);
                    height:20px;
                    bottom:60px;
                    background-color:$black;
                    color:white;
                    right:0;
                    border-radius: 5px;
                    padding:.5rem;
                    content:"Link Copied!";
                    text-align:center;
                }
            }
            &:before{
                content:'';
                background: url( /wp-content/themes/pilot/dest/image/copy.svg) no-repeat center;;
                content:"";
                width:35px;
                height:35px;
                height:100%;
                position:absolute;
                display:block;
                padding-top:8px;
                top:-5px;
                right:1rem;
            }
        }
    }
}
.custom-marker{
   position: relative;
   width: 100%;
   padding-bottom: 100%;

    .circle {
       position: absolute;
       width: 50%;
       height: 50%;
       background-color: #000000;
       border-radius: 50%;

        .small-circle{
          margin-top: 25%;
          margin-left: 25%;
          position: absolute;
          width: 50%;
          height: 50%;
          background-color: #e5e5e5;
          border-radius: 50%;
        }
    }
}
.admin-bar {
    padding-top: 32px;
}
@media only screen and (max-width: 782px) {
    .admin-bar  {
        padding-top: 46px;
    } 
}
@media only screen and (max-width: 768px){
    .overlay{
        .wonderful-nav{
            position:fixed;
            top:0;
            left:0;
        }
        .wonderful-nav,.loading-message,.center-content{
            padding:20px;
            width:calc(100% - 40px);
            .gform_drop_instructions{
                padding:0 !important;
            }
        }
        .loading-message{
            .trivia{
                display:none;
            }
        }
    }
    #gform_confirmation_wrapper_1{
        .wonderful-confirmation{
            h2{
            }
            .copy-button{
            }
        }
    }
}