// Copy & Lists 
p {
}

ul li,
ol li {
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:hover, &:active, &:focus, &:visited {
    color: inherit;
  }
}

// Headings 


// Tables
table {
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}

// Code Blocks
code {
  vertical-align: bottom;
}
